{% extends 'base.html.twig' %}

{% block title %}{{ categoryName }}{% endblock %}

{% block body %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
/* Style the "Show" button */
.btn-outline-primary {
  background-color: transparent;
  border-color: #007bff;
  color: #007bff;
  border-radius: 20px;
  padding: 7px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  /* text-transform: uppercase; */
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

/* Style the "Add to Cart" button */
.btn-outline-warning {
  background-color: transparent;
  border-color: #ffc107;
  color: #ffc107;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  /* text-transform: uppercase; */
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: #000;
}

/* Style the cart icon within the "Add to Cart" button */
.btn-outline-warning i {
  margin-right: 5px;
  font-size: 1.2em;
}

/* Adjust button margins */
.my-1 {
  margin-top: 10px;
}


.btn-group-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textcardpic{
  text-shadow: 1px 1px 2px black;
}
/* Add more styles as needed */

.featProducts{
  font-weight: 400;
  /* font-family: 'Quicksand', sans-serif; */
}
.secondbarU{
        height: 5px;
        /* background-color: rgb(210, 29, 29); */
        background-image: linear-gradient(rgba(98, 98, 98, 0.126), rgba(228, 228, 228, 0));
    }
</style>
 
 
    {% include '_sidebar.html.twig' %}

   
    <div class="container my-1">
        <h3 class="text-center featProducts">{{ categoryName }}</h3>
      {# <hr> #}
      
      <div class="album py-2">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-1  row-cols-md-2 row-cols-lg-3 g-3">
            {% for product in products %}
            <div class="col">
              <div class="card shadow-sm border border-0 h-100">

                <a href="{{ path('app_product_show', {'id': product.id}) }}"><img
                    src="{{ asset('pictures/' ~ product.imageName) }}" class="w-75 mt-2 mx-auto d-block rounded" alt="..."></a>
                
                    <div class="card-body text-center">

                  <p class="card-text">Name: <b>{{ product.name }}</b></p>


                  <p class="card-text"> Description: <b>{{ product.description }} </b></p>



                  <p class="card-text"> Categorie: <b>{{ product.categorie }}</b></p>



<div class="btn-group-2 d-grid gap-2 w-50 d-block mx-auto">
  <a href="{{ path('app_product_show', {'id': product.id}) }}"
      class="btn btn-outline-primary text-center">Show</a>
  <form action="{{ path('app_add_to_cart', {'productid': product.id, 'quantity': 1, 'userid': app.user.id}) }}"
      method="post">
      <button type="submit" class="btn btn-outline-warning text-black my-1 text-center">
          <i class="bi bi-cart3 h6"></i> Add to Cart
      </button>
  </form> <p class="card-text">Price: <b>{{ product.price }} $</b></p>
</div>

                </div>
              </div>
            </div>

            {% else %}

            <p colspan="8">no records found</p>

            {% endfor %}



          </div>
          {#
          <hr> #}
  </main>
  </div>
  </div>
  </div>
  


  {% endblock %}