{# NAVBAR #}
<style>
    .cartButton{
        max-width: 100px;
      
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
    }

    .secondbar{
        height: 5px;
        /* background-color: rgb(210, 29, 29); */
        background-image: linear-gradient(rgb(98, 98, 98), rgba(228, 228, 228, 0));
    }
    .navbar{
        
    }
    /* Style the action buttons */


</style>
<nav class="navbar navbar-expand-lg bg-secondary border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login">
            <strong>Marketplace</strong>
        </a>
            {# <img src="/pictures/lgoa.svg" style="height: 40px;" alt="">  #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">

{# <li class="nav-item">
<a class="nav-link" href="/mailer">Send Email</a>
</li> #}

<div class="dropdown">
    <button type="button" class="mx-2 btn btn-secondary  dropdown-toggle"
    data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"><i class="bi bi-person-circle"></i>
    User
    </button>
<form class="dropdown-menu p-4" style="width: 300px;">

{% if app.user %}
    <div class=" text-center my-3 ">
    Logged in as {{ app.user.userIdentifier }}, <a
    href="{{ path('app_logout') }}">Logout</a>
    </div>
<hr>
<p class="text-center"><b>{{ app.user.fname }} {{ app.user.lname }}</b><span class="material-symbols-outlined text-primary px-1" href="/login">verified</span></p>
    <div class="container d-flex justify-content-center">
    <img src="{{ asset('pictures/' ~ app.user.imageName) }}" alt="" width="95"
    height="95" class="rounded-circle border border-5 border-info">
    </div>
{% endif %}
<hr>
    <li class="nav-item d-flex justify-content-center">
    <a class="nav-link" href="/profile">Edit Profile</a>
    </li>
</div>
</ul>
</form>

<form class="d-flex align-items-center input-group  " role="search">
    <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-warning" type="submit">Search</button>
</form>

<a class="position-relative cartButton btn btn-outline-primary border-white mx-2 d-flex align-items-center text-white" href="{{ path('app_cart', {'userid': app.user.id}) }}"><i class="bi bi-cart3 me-2"></i> Cart   
   
    {% include '_cart_badge.html.twig' %}

</a>
           

        </div>
    </div>
</nav>
<div class="secondbar">
   
</div>
{# NAVBAR END #}
